<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=0.6,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE4 {color: #FFFF00; font-weight: bold; }
.STYLE5 {color: #FFFF00; font-size: 12px;}
.STYLE7 {color: #FFFFFF}
.STYLE8 {color: #FFFFFF; font-size: 12px;}
.STYLE9 {color: #999999}
.STYLE10 {color: #00FFFF; font-weight: bold; }
body {
	background-color: #464646;
}
.STYLE11 {color: #FFFF00; font-weight: bold; font-size: 20px; }
.STYLE13 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
-->
</style></head>

<body>
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td height="30" align="center"><p class="STYLE13">《玩玩车神》v1.0.3　实物大奖等你拿，实实在在，精彩体验！</p>
				<hr width="90%" noshade="noshade" />
			</td>
		</tr>
	</table>
	<table  width="80%" align="center" cellspacing="1">
			<tr>
				<th><img width=100 src="img/ui_banner_gacha_entity.png"/></th>
				<td><p class="STYLE10">话费、购物卡、跑车模型等你拿！</p>
	</table>
	<table  width="80%" align="center" cellspacing="1">
			<tr>
				<td>
					<p class="STYLE8">2015年5月28日-6月3日，开启“车神宝箱”即有机会获得实物大奖！</p>
					<p class="STYLE8">　　一等奖：精品法拉利跑车模型（2名，价值700元）</p>
					<p class="STYLE8">　　二等奖：100元京东购物卡（5名，价值100元）</p>
					<p class="STYLE8">　　三等奖：50元移动话费卡（10名，价值50元）</p>
					<p class="STYLE5">PS：首冲双倍后，任意充值均可获赠“宝箱钥匙”，助您抽取实物大奖~</p>
					<p class="STYLE8">补充说明：</p>
					<p class="STYLE8">　　1．工作人员会在活动结束后14个工作日之内，通过中奖后提供的手机号联系玩家；</p>
					<p class="STYLE8">　　2．任何作弊行为，一经发现，立即取消获奖资格；</p>
					<p class="STYLE8">　　3．活动官方客服400-666-1551；</p>
					<p class="STYLE8">　　4．本次活动最终解释权属于《玩玩车神》；</p>
					<hr align="center" width="100%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
	</table>
	<table  width="80%" align="center" cellspacing="1">
			<tr>
				<th><img width=100 src="img/ui_banner_gacha.png"/></th>
				<td><p class="STYLE10">F1好评如潮，持续双倍概率！</p>
					<p class="STYLE8">银箭F1赛车时下最IN，再不拥有你就OUT啦！</p>
					<p class="STYLE8">开启车神宝箱就有机会获得兑换券</p>
					<p class="STYLE8">（实物奖活动期间仍可获得）</p>
					<hr align="center" width="100%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
			<tr>
				<th><img width=100 src="img/ui_banner_count.png"/></th>
				<td><p class="STYLE10">原地复活，轻松过关！</p>
					<p class="STYLE8">原地复活，额外获赠20钻石，每位玩家5次机会！</p>
					<hr align="center" width="100%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
			<tr>
				<th><img width=100 src="img/ui_banner_1st_charge.png"/></th>
				<td><p class="STYLE7">首次充值任意金额，即可获得双倍道具！充金得金，充钻得钻！</p>
				</td>
			</tr>
			<tr>
				<th><img width=100 src="img/ui_banner_payback.png"/></th>
				<td><p class="STYLE7">使用钻石购买部分车辆，可获得钻石返还，平均返还率高达80%！</p>
				</td>
			</tr>
			<tr>
				<th><img width=100 src="img/ui_welcompack_icon.png"/></th>
				<td><p class="STYLE7">初期闯关有难度？新手礼包助你横行无阻！</p>
					<hr align="center" width="100%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
		</table>
	
	
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td align="center"><p class="STYLE7">更多精彩活动，请参看游戏主画面提示</p>
				<hr width="90%" noshade="noshade" />
				<p class="STYLE7">版权所有 2015 豌豆荚实验室 / 触控科技</p>
			</td>
		</tr>
	</table>
</body>
</html>
