<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE4 {color: #FFFF00; font-weight: bold; }
.STYLE5 {color: #FFFF00; font-size: 12px;}
.STYLE7 {color: #FFFFFF}
.STYLE8 {color: #FFFFFF; font-size: 12px;}
.STYLE9 {color: #999999}
.STYLE10 {color: #00FFFF; font-weight: bold; }
body {
	background-color: #464646;
}
.STYLE11 {color: #FFFF00; font-weight: bold; font-size: 20px; }
.STYLE13 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
-->
</style></head>

<body>
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td height="30" align="center"><p class="STYLE13">《极品飙车》v1.1.0　对战全新开启，你不再是孤单车神！</p>
				<hr width="90%" noshade="noshade" />
			</td>
		</tr>
	</table>
	<table  width="100%" align="center" cellspacing="1">
			<tr>
				<th><img width=150 src="img/ui_banner_pk.png"/></th>
				<td><p class="STYLE10">对战功能，全新开启！</p>
					<p class="STYLE8">还等什么？还不来成就真正的车神！</p>
					<p class="STYLE8">爽快刺激，全国所有玩家等你来战！</p>
					<p class="STYLE8">根据您的排行情况，每周会定期获得奖励哟~~</p>
					<hr align="left" width="80%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
			<tr>
				<th><img width=150 src="img/ui_banner_gacha.png"/></th>
				<td><p class="STYLE10">F1赛车首发，双倍概率！</p>
					<p class="STYLE8">车神宝箱新增银箭F1赛车兑换券</p>
					<p class="STYLE8">幸运的你，还不快来试试手气？</p>
					<hr align="left" width="80%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
				</td>
			</tr>
			<tr>
				<th><img width=150 src="img/ui_banner_car_camaro_gift.png"/></th>
				<td><p class="STYLE8">首次改装任意车辆至满级，</p>
					<p class="STYLE8">即刻获赠赛车：大黄蜂！</p>
				</td>
			</tr>
			<tr>
				<th><img width=150 src="img/ui_welcompack_icon.png"/></th>
				<td><p class="STYLE8">初期闯关有难度？新手礼包助你横行无阻！</p>
				</td>
			</tr>
		</table>
	
	
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td align="center"><p class="STYLE7">更多精彩活动，请参看游戏主画面提示</p>
				<hr width="90%" noshade="noshade" />
				<p class="STYLE7">版权所有 2015 GAMEVIEW / 触控科技</p>
			</td>
		</tr>
	</table>
</body>
</html>
