<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1,user-scalable=no" />
	<title>Announcement</title>
	<style type="text/css">
	<!--
	.STYLE4 {color: #FFFF00; font-weight: bold; }
	.STYLE5 {color: #FFFF00; font-size: 12px;}
	.STYLE7 {color: #FFFFFF}
	.STYLE8 {color: #FFFFFF; font-size: 12px;}
	.STYLE9 {color: #999999}
	.STYLE10 {color: #00FFFF; font-weight: bold; }
	body {
		background-color: #464646;
	}
	.STYLE11 {color: #FFFF00; font-weight: bold; font-size: 20px; }
	.STYLE13 {
		font-size: 16px;
		color: #FFFFFF;
		font-weight: bold;
	}
	-->
</style></head>

<body>
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td height="30" align="center"><p class="STYLE13">=I am racer= v.1.2.0 Battle Mode On!</p>
				<hr width="90%" noshade="noshade" />
			</td>
		</tr>
	</table>
	<table  width="100%" align="center" cellspacing="1">
		<tr>
			<th><img width=150 src="img/ui_banner_v120.jpg"/></th>
			<td><p class="STYLE10">V1.2.0</p>
				<p class="STYLE8">1） I am racer revolution dual language version (CN, EN)<br>Switch language freely and enjoy the same excitement</p>
				<p class="STYLE8">2） Advertisement Prize System<br>Complete few easy steps and get free diamonds and golds.</p>
				<hr align="left" width="80%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
			</td>
		</tr>
		<tr>
			<th><img width=150 src="img/ui_banner_pk_en.png"/></th>
			<td><p class="STYLE10">Battle mode is now ON!</p>
				<p class="STYLE8">Be the true racer now!</p>
				<p class="STYLE8">Fast and furious, battle with other racers!</p>
				<p class="STYLE8">Receive weekly reward according to your rankings!</p>
				<hr align="left" width="80%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
			</td>
		</tr>
		<tr>
			<th><img width=150 src="img/ui_banner_1st_charge_en.png"/></th>
			<td><p class="STYLE10">1st-Reload 2x Reward!</p>
				<p class="STYLE8">More Goldcoin, More Diamonds.</p>
			</td>
		</tr>
		<tr>
			<th><img width=150 src="img/ui_banner_gacha_en.png"/></th>
			<td><p class="STYLE10">Merz F1 is now Double Rate Up!</p>
				<p class="STYLE8">Merz F1 ticket is now in the Treasure Box!</p>
				<p class="STYLE8">Try your luck now!</p>
				<hr align="left" width="80%" style="height:1px;border:none;border-top:1px dashed #999999;"/>
			</td>
		</tr>
		<tr>
			<th><img width=150 src="img/ui_banner_car_camaro_gift_en.png"/></th>
			<td><p class="STYLE10">Free Chevro!</p>
				<p class="STYLE8">Max-Modify any car to get it.</p>
			</td>
		</tr>
		<tr>
			<th><img width=150 src="img/ui_welcompack_icon_en.png"/></th>
			<td><p class="STYLE10">Newbie Giftpack</p>
				<p class="STYLE8">Having difficulties to complete a Chapter?</p>
				<p class="STYLE8">Get the newbie pack and break the barriers now!</p>
			</td>
		</tr>
	</table>
	
	
	<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
		<tr>
			<td align="center"><p class="STYLE7">More exciting events, please refer to the main page's tips!</p>
				<hr width="90%" noshade="noshade" />
				<p class="STYLE7">Copyright by 2015 GAMEVIEW / BeiJing Chukong Technology Co Ltd.</p>
			</td>
		</tr>
	</table>
</body>
</html>
