<!DOCTYPE html>
<html> 
<body>

<h4>V1.2.0</h4>
<p>1） I am racer revolution dual language version (CN, EN)
Switch language freely and enjoy the same excitement.</p>
<p>2） Advertisement Prize System
Complete few easy steps and get free diamonds and golds.</p>

</body>
</html>