<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE4 {color: #FFFF00; font-weight: bold; }
.STYLE5 {color: #FF5400; font-weight: bold; }
.STYLE7 {color: #FFFFFF}
.STYLE9 {color: #999999}
.STYLE10 {color: #00FFFF; font-weight: bold; }
body {
	background-color: #202020;
}
.STYLE13 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td height="30"><span class="STYLE13">《奔跑吧兄弟：我是车神》 v2.6.0</span></td>
  </tr>
  
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td height="90" class="STYLE4"><img src="img/banner_agera.png" alt="" width="400" height="80" /></td>
  </tr>
  <tr>
    <td height="29" class="STYLE4">科尼赛格震撼登场！至尊礼包开启全新对战时代！</td>
  </tr>
  <tr>
    <td height="29" class="STYLE7">购买</span><span class="STYLE10">至尊礼包</span>即获王者级超跑科尼赛格，立享<span class="STYLE5">对战积分双倍</span>！现在<span class="STYLE5">还送海量金币、宝石、对战轮胎</span>，乐享至高游戏体验！</td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>  
  <tr>
    <td height="90" class="STYLE4"><img src="img/banner_wechat.png" alt="" width="400" height="80" /></td>
  </tr>
  <tr>
    <td height="29" class="STYLE4">关注官方微信，参与活动赢好礼！</td>
  </tr>  
  <tr>
    <td height="29" class="STYLE7">
	  微信搜索公众号<span class="STYLE7">【</span><span class="STYLE10"> 奔跑吧兄弟我是车神 </span><span class="STYLE7">】</span>或<span class="STYLE7">【</span><span class="STYLE10"> woshicheshenrm</span> <span class="STYLE7">】</span><span class="STYLE5"><br />
  </tr>
  <tr>
    <td height="29" class="STYLE7">就能轻松参与线上活动，各种好礼送不停！还在等什么？！赶快行动吧！</td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
  <tr>
    <td height="90" class="STYLE4"><img src="img/banner_vs_ver2.png" alt="" width="400" height="80" /></td>
  </tr>
  <tr>
    <td height="29" class="STYLE10">每周参与对战，即获神车宝箱，心仪豪车免费拿！</td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr>
    <td><p class="STYLE4 STYLE9">更多精彩活动，请参看游戏主画面提示</p></td>
  </tr>
</table>
</body>
</html>
