<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>奖励详情</title>
<style type="text/css">
<!--
body {
	background-color: #464646;
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {color: #FFFFFF}
.STYLE2 {color: #FFFF00; }
.STYLE3 {color: #00FFFF}
.STYLE4 {color: #00FFFF; font-weight: bold; }
-->
</style></head>

<body>
<table width="100%" border="1" align="center" cellspacing="0" bordercolor="#FFFFFF">
  <tr>
    <td  colspan="4" align="center">
	<span class="STYLE1"><strong>Date：<%= date_desc %></strong></span>
      <p><span class="STYLE3">Prizes Time: Wednesdays 0:00, 3 working days were issued.<br/>
          </span>
          <br />
      </p>
</td>
  </tr>
  
 <tr>
    <td height="40" rowspan="6"><div align="center">
      <p class="STYLE3"><strong>No.<span class="STYLE2">1</span> </strong></p>
        <p class="STYLE3"><strong> </strong></p>
        </div>
    <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Treasure Box Key</div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×50</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_gem.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Gems</div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×200</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×1000k</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Speeding</span></div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Missle</span></div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Illusion</span></div></td>
    <td height="40"><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
   <tr>
    <td height="40" rowspan="6"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>No.<span class="STYLE2">2～10</span>  </strong></p>
        <p class="STYLE4"> </p>
        </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Treasure Box Key</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×30</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_gem.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Gems</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×50</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×500k</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Speeding</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Missle</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Illusion</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  
  <tr>
    <td height="40" rowspan="5"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>No.<span class="STYLE2">11～50</span>  </strong></p>
        <p class="STYLE3"><strong> </strong><strong> </strong></p>
        </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
   <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> Treasure Box Key</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×100k</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Speeding</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Missle</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Illusion</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="5"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>No.<span class="STYLE2">51～100</span>  </strong></p>
      <p class="STYLE3"><strong> </strong></p>
    </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> Treasure Box Key</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×15</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×80k</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Speeding</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Missle</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Illusion</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="5"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>No.<span class="STYLE2">101～1000</span>  </strong></p>
      </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> Treasure Box Key</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×10</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×50k</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item2.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Speeding</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item3.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Missle</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_item1.png" /></div></td>
    <td height="40"><div align="center"><span class="STYLE1">Illusion</span></div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×5</strong></div></td>
  </tr>
  <tr>
    <td height="40" rowspan="2"><div align="center" class="STYLE1">
      <p class="STYLE3"><strong>No.<span class="STYLE2">1001</span> or below</strong></p>
      </div>
    <div align="center" class="STYLE1"></div>      <div align="center" class="STYLE1"></div></td>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_key.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1"> Treasure Box Key</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×3</strong></div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"><img src="img/ui_championship_reward_icon_coin.png" /></div></td>
    <td height="40"><div align="center" class="STYLE1">Goldcoins</div></td>
    <td height="40" ><div align="center" class="STYLE2"><strong>×20k</strong></div></td>
  </tr>
</table>
</body>
</html>
